/*
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/

:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9af7;
    --soft-blue:#E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFF;
}


html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}



header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 128px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    background-color: var(--off-white);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
    background-repeat: no-repeat;
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-currency-table, .main-commission-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table--bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table-right {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currency-table--date p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);
    margin: 0;
}

.main-commission-table .commission-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}

.commission-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.commission-table--container table {
    width: 100%;
    height: 100%;
}

.commission-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.commission-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.commission-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.commission-table--container .table--bottom-right {
    border-radius: 0 0 15px 0;
}

.commission-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.commission-table--container .table-right {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.commission-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commission-table--date p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: var(--warm-black);
    margin: 0;
}

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 280px;
    padding: 20px 0px;
    height: auto;
    background-color: var(--warm-black);
}

.product-detail--battata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    left: calc(50% - 20px);
    top: -10px;
    background-image: url("../assets/icons/batata.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.product-detail--title {
    padding-left: 10px;
    width: 90%;
    min-width: 280px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card {
    width: 80%;
    min-width: 288px;
    max-width: 400px;
    max-height: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    box-shadow: 0 4px 8px rgba(0,0,0 0.16);
    border-radius: 5px;
}

.product-detail--card .icon-card {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .clock {
    background-image: url(../assets/icons/clock.svg);
}

.product-detail--card .eye {
    background-image: url(../assets/icons/eye.svg);
}

.product-detail--card .dollar {
    background-image: url(../assets/icons/dollar-sign.svg);
}

.product-detail--card .check {
    background-image: url(../assets/icons/check-circle.svg);
}


.product--card-title {
    margin: 0px;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    min-height: 50vh;
    background-image: url("../assets/img/bitcoinbaby2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center ;
}

.bitcoin-img-container h2 {
    margin: 0;
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 50px;
    text-align: center;
}

.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}

.plans--title h2 {
    padding-top: 40px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider {
    display: flex;
    /*Espacio entre tarjetas (gap) no se esta utilizando*/
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 280px;
    height: 250px;
    margin: 30px 5px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recomended {
    position: absolute;
    margin: 0;
    width: 120px;
    height: 20px;
    line-height: 20px;
    padding: 6px;
    top: -15px;
    left: calc(50% - 60px);
    font-size: 1.2rem;  
    border-radius: 8px;
    color: var(--just-white);
}

.anual {
    background-color: var(--bitcoin-orange);
}

.semestral {
    background-color: var(--secondary-blue);
}

.mensual {
    background-color: var(--bitcoin-orange);
}

.main-plans-container {
   color: var(--off-white);
}

.plan-card-title {
    padding-top: 30px;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card-price {
    position: relative;
    padding: 5px 0;
    margin: 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--black);
}

.plan-card-price span{
    position: absolute;
    font-size: 1.2rem;
    font-weight: 300;
    top: -10px;
    left: calc(50% - 40px);
}

.plan-card--saving {
    font-size: 1.2rem;
    color: #757575;
}

.plan-card---ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
}

.plan-card---ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/orange-right-arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*Alinear icono con el texto*/
    vertical-align: text-bottom;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul {
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    list-style: none;
}

.left li {
    margin: 10px 0;
}

.left a {
    text-decoration: none;
    color: var(--just-white);
}







